#text_div {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin:auto;
    font-size: 5.5rem;
    position: relative;
    width: 50%;


  }
  .leftstick {
  margin: 5% auto;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  padding: 10px;
  }
  .herotext {
    text-align: center;
  }
  
  .center_all {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: rgb(36, 34, 34);
  }
  .container {
    position: relative;
  }
  
  .topright {
    position: absolute;
    top: 30px;
    right: 70px;
    z-index: 3;
    
  }
  .topleft {
    position: absolute;
    top: 12px;
    left: 1px;
    z-index: 3;
    width: 200px;
    height: 200px;
  }
  .typewritter {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    height:100%;
    width:100%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
  }
  .logosize {
    width: 70px;
    height: 70px;
  }
  .maincontainer {
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
  }